# Jupyter
.ipynb_checkpoints

# Python cache
*.py[cod]
__pycache__

# Packages
.eggs
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Pycharm
.idea

# COSMOS images
datasets/cosmos
/paltas/example/*
/paltas/example_validation/*
/paltas/example_network_weights/*
*.DS_Store